.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closedContainer{
    height: 0;
    width: 70vw;
    transition: 0.4s;
}

.openedContainer{
    height: 40vw;
    width: 70vw;
    transition: 0.4s;
}

#background{
    position: absolute;
}

.closedContainerBackground{
    height: 0;
    width: 70vw;
    z-index: -13;
    transition: 0.4s;
}

.openedContainerBackground{
    height: 40vw;
    width: 70vw;
    background: black;
    z-index: -13;
    transition: 0.4s;
    border-radius: 20px;
}

.contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}