main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .onglets{
    background: url(./Asset/Img/ImgLibreDeDroits/backgroundTest.png);
    background-repeat: no-repeat;
    background-position-y: 15px;
    background: linear-gradient(to right, aqua, yellow);
    background-clip:content-box;
    background: linear-gradient(to right, aqua, yellow);
} */

main > div > ol{
    display: flex;
    justify-content: center;
}

main > div > #onglets{
    position: absolute;
}

main > div > #onglets > li{
    padding: 3px;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.4s;
}

main > div > #ongletsMouseOver{
    position: relative;
    z-index: -1;
}

main > div > #ongletsMouseOver > li{
    padding: 3px;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.4s;
}

main > div > #onglets > li:hover{
    background: transparent;
    backdrop-filter: invert(100%);
    color:transparent;
    cursor: pointer;
    transition: 0.4s;
}

.contenu{
    height: 0;
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenuOpen{
    height: 90%;
}