.date {
  /* background: linear-gradient(to right, red, transparent);
  background-size: cover;
  transition: 5s; */
}

.date.test {
  /* background: linear-gradient(to right, red, red);
  transition: 5s; */
}

.date > .backgroundStart {
  position: absolute;
  transform: translate(-44px, 0);
  height: 44px;
  width: 0px;
  background: red;
  transition: 0 ease-out;
}

.date > .backgroundEnd {
  position: absolute;

  transform: translate(0px, 0);
  height: 44px;
  width: 44px;
  background: red;
  transition: 1s ease-out;
}

.testEffect {
  position: absolute;
  height: 44px;
  width: 44px;
  background: rgba(255, 0, 0, 1);
  z-index: -1;
  /* border-radius: 22px; */
}

.testEffectDouble {
  position: absolute;
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 0, 1);
  z-index: -1;
  /* border-radius: 22px; */
}

.calendar > .start {
  border-radius: 22px 0 0 22px;
}

.calendar > .end {
  border-radius: 0 22px 22px 0;
}
